body
{
    margin: 0;
    padding: 20px;
}
#contentcontainer
{
    position: relative;
    _display:inline;
    width:100%;
    height: auto !important;
    background: #999;
    overflow:hidden;
}

#contentleft
{
    width:200px;
    float: left;
    margin: 20px;
    background: #eee;
    height:auto !important;
}

#contentright
{
    width:120px;
    float: right;
    margin: 20px;
    background: #eee;
    height:auto !important;
}

#contentcenter
{
    background: #eee;
    margin: 20px 160px 20px 240px;
    height: auto !important;
}

#logo
{
    padding: 20px;
    float: left;

}

#groupname
{
    padding: 20px;
    float: right;
    text-align:top;
}

#stu1
{
    margin:20px;
}
#stu2
{
    margin:20px;
}
#stu3
{
    margin:20px;
}
#stu4
{
    margin:20px;
}